<div class="log-form">

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= '<br>'.html_safe %>
      <%= error %>
    <% end %>
  <% end %>

  <div class="container">
    <div class="row">
      <h2 class="text-center text-uppercase">Sign In</h2>
      <div class="col-md-4 col-md-offset-4  auth-form">
        <form id="form" action="<%= session_url %>" method="post">
          <%= auth_token_input %>
          <h1 className="text-center">Log-In</h1>
          <br>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="user[username]" value="<%=@user.username%>">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="user[password]">
          </div>
          <div class="form-group">
            <input class="btn btn-success" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
