<!DOCTYPE html>
<html>
<head>
  <title>ThePathLessTraveled</title>
  <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script
    id="gmapslib"
    async="true"
    src="https://maps.googleapis.com/maps/api/js?key=&libraries=places,geometry&callback=gMapsReady">
  </script> -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv-nf4YjPyxxXVDupj90D4KEujcYL93Pw&callback=initMap"
    async defer></script> -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCv-nf4YjPyxxXVDupj90D4KEujcYL93Pw"%>
</head>
<body>
  <script>
    <% if current_user %>
      window.CURRENT_USER_ID = <%= current_user.id %>;
    <% end %>
  </script>

  <nav id="nav" class="nav nav-justified navbar-fixed-top">
    <div class="container auth">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><strong>ThePathLessTraveled</strong></a>
        <!-- <a class="btn btn-danger search-btn" href="/#/search">Search</a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
          <% if signed_in? %>
            <%= "<div id='signed-in' class='form-group signed-in'>".html_safe %>
              <%= "<a class='navbar-brand profile' href='#'>".html_safe + current_user.username + "</a>".html_safe  %>
            <%= "</div>".html_safe %>
            <%= "<div id='signed-in' class='form-group'>".html_safe %>
              <%= button_to "Sign Out", session_url, :method => :delete, :class => 'btn btn-login'%>
            <%= "</div>".html_safe %>
          <% else %>
            <%= "<div class='form-group'>".html_safe %>
              <%= link_to "Sign In", new_session_url, :class => 'btn btn-login' %>
            <%= "</div>".html_safe %>
            <%= "<div class='form-group'>".html_safe %>
              <%= link_to "Sign Up", new_user_url, :class => 'btn btn-login' %>
            <%= "</div>".html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
<%= yield %>

</body>
</html>
